<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="/">
          <h2>Where in the world?</h2>
        </a>
      </div>
  
      <div class="header__theme-btn">
        <button class="btn btn__theme js-themeBtn">
        </button>
      </div>
    </div>
  </div>
</header>